<div class="reset-container">

    <div class="reset-card">

        <h2 class="reset-title">Reset Password</h2>
        <p class="reset-subtext">Enter your User ID to reset your password</p>

        <form class="reset-form">

            <!-- USER ID -->
            <input type="text" placeholder="User ID" class="reset-input" [(ngModel)]="userId" name="userId" />

            <!-- NEW PASSWORD -->
            <div class="password-wrapper">

                <input [type]="showNewPassword ? 'text' : 'password'" placeholder="New Password" class="reset-input"
                    [(ngModel)]="newPassword" name="newPassword" />

                <i class="fa" [ngClass]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleNewPassword()"></i>

            </div>

            <!-- CONFIRM PASSWORD -->
            <div class="password-wrapper">

                <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
                    class="reset-input" [(ngModel)]="confirmPassword" name="confirmPassword" />

                <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="toggleConfirmPassword()"></i>

            </div>

            <!-- RESET BUTTON -->
            <button type="button" class="reset-btn" (click)="resetPassword()">
                Reset Password
            </button>

            <!-- BACK TO LOGIN -->
            <a class="back-login" (click)="goToLogin()">
                Back to Login
            </a>

        </form>

    </div>

</div>