.reset-container {
  height: 100vh;
  background: #e4ebee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.reset-card {
  text-align: center;
}

.reset-title {
  font-size: 22px;
  font-weight: 600;
}

.reset-subtext {
  font-size: 14px;
  margin-bottom: 20px;
}

.reset-form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.reset-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #999;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.reset-input:focus {
  border: 2px solid #2563eb;
}

.reset-btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn:hover {
  background: #1d4ed8;
}

.back-login {
  margin-top: 10px;
  font-size: 13px;
  color: #2563eb;
  cursor: pointer;
  text-decoration: none;
}

.back-login:hover {
  text-decoration: underline;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .reset-input {
  padding-right: 40px;
}

.password-wrapper i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  font-size: 16px;
}

.password-wrapper i:hover {
  color: #2563eb;
}


.password-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}


.password-wrapper .reset-input {
  width: 100%;        
  padding-right: 40px;
}


.password-wrapper i {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #555;
  font-size: 16px;
}