<div class="reset-container">

    <h2>Reset Password</h2>
    <p>Enter your User ID to reset your password</p>

    <form (ngSubmit)="resetPassword()">

        <!-- USER ID -->
        <input type="text" placeholder="User ID" [(ngModel)]="userId" name="userId" class="reset-input" />

        <!-- NEW PASSWORD -->
        <input type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword"
            class="reset-input" />

        <!-- ERROR MESSAGE -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <!-- SUCCESS MESSAGE -->
        <div *ngIf="successMessage" class="success-message">
            {{ successMessage }}
        </div>

        <button type="submit" class="reset-btn">
            Reset Password
        </button>

    </form>

</div>