<div class="login-container">

  <img src="assets/icons/project-lens.png.jpg" alt="" class="login-logo" />
  <h1 class="project-title">PROJECT LENS</h1>
  <h2 class="login-heading">Login</h2>
  <p class="login-subtext">Enter your User ID and Password</p>

  <form class="login-form">
    <input type="text" placeholder="User ID" class="login-input" [(ngModel)]="credentials.userId" name="userId" />


    <!-- Password -->
    <div class="password-wrapper">
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" class="login-input"
        [(ngModel)]="credentials.password" name="password" />

      <span class="eye-icon" [class.slash]="!showPassword" (click)="togglePassword()">
        👁
      </span>
    </div>

    <!-- Login Button -->
    <button type="button" class="login-btn" (click)="login()">
      Login
    </button>
  </form>
</div>