<!-- ================= HEADER ================= -->

<header class="topbar">
  <div class="topbar-left">
    <span class="hamburger" (click)="toggleSidebar()">☰</span>

    <div class="title-wrapper header-title">
      <img src="assets/icons/project-lens.png.jpg" alt="images" class="project-icon" />
      <h1 class="app-title">PROJECT <span>LENS</span></h1>
    </div>
  </div>
</header>

<!-- ================= SEARCH BELOW HEADER ================= -->

<div class="search-container-right">
  <div class="search-box">
    <input type="text" placeholder="Search projects..." [(ngModel)]="searchText" />
    <span class="search-icon">🔍</span>
  </div>
</div>

<!-- ================= SIDEBAR ================= -->

<div class="sidebar" [class.open]="isSidebarOpen">
  <div class="sidebar-header">
    <h3>Project Lens</h3>
    <button class="close-btn" (click)="toggleSidebar()">✕</button>
  </div>

  <ul class="sidebar-list">
    <li>Audit Logs</li>
    <li>Logout</li>
  </ul>
</div>

<div class="overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

<!-- ================= PROJECT TABLE ================= -->

<div class="table-container">

  <table class="project-table">

    <thead>
      <tr>
        <th>SL No</th>
        <th>PO Number</th>
        <th>BOL Number</th>
        <th>File Name</th>
        <th>Created Date</th>
        <th>File Count</th>
        <th>View</th>
        <th>Download</th>
        <th>Share</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let project of filteredProjects; let i = index">

        <td>{{ i + 1 }}</td>

        <td>{{ project.poNumber || '-' }}</td>

        <td>{{ project.bolNumber || '-' }}</td>

        <td class="file-name">
          {{ project.fileName }}
        </td>

        <td class="created-date">
          <div class="date">
            {{ project.createdOn | date:'dd MMM yyyy' }}
          </div>
          <div class="time">
            {{ project.createdOn | date:'hh:mm a' }}
          </div>
        </td>


        <td>
          {{ project.fileCount }}
        </td>


        <!-- VIEW -->
        <td>
          <button class="icon-btn view" (click)="viewProject(project)">
            👁
          </button>
        </td>

        <!-- DOWNLOAD BUTTON (UPDATED) -->
        <td>
          <button class="download-btn" (click)="downloadPDF(project)">
            Download
          </button>
        </td>

        <!-- SHARE -->
        <td>
          <button class="icon-btn share">🔗</button>
        </td>

      </tr>
    </tbody>

  </table>

</div>

<p *ngIf="!loading && filteredProjects.length === 0" class="no-projects">
  No projects found
</p>