* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.app-title span {
  font-weight: inherit;
}

/* ================= SEARCH BAR ================= */
.search-container-right {
  display: flex;
  justify-content: flex-start;
  padding: 0px 10px;
  margin-top: -8px;
}

.search-box {
  position: relative;
  width: 520px;
}

.search-box input {
  width: 100%;
  padding: 12px 48px 12px 16px;
  border-radius: 10px;

  border: 2px solid #000000;
  outline: none;
  font-size: 15px;
  background: #ffffff;
  color: #000000;
  font-weight: 500;
}

/* Placeholder */
.search-box input::placeholder {
  color: #9ca3af;
}

/* Focus */
.search-box input:focus {
  border-color: #000000;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
}

/* Search icon */
.search-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  cursor: pointer;
  background: #eef2ff;
  padding: 6px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

/* Icon hover */
.search-icon:hover {
  color: #ffffff;
}

/* ================= PROJECT LIST ================= */
.project-card {
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 2px solid #E2E8F0;
  border-left: 4px solid #2563EB;
}

.project-card h3 {
  margin: 0 0 6px;
  color: #1a73e8;
}

/* ================= ICONS ================= */
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-icon {
  width: 34px;
}

.image-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}

.image-icon {
  width: 40px;
  height: 35px;
  object-fit: contain;
  border-radius: 14px;
}

/* ================= ACTION BUTTONS ================= */

.project-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  margin-top: -75px;
}

.view-btn,
.download-btn {
  padding: 6px 18px;
  border-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  width: 100px;
}

.view-btn:hover,
.download-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(59, 130, 246, 0.3);
}

/* ================= VERTICAL COLUMN LAYOUT ================= */

.project-grid-container {
  column-count: 3;
  column-gap: 24px;
  padding: 20px 28px;
}

.project-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  break-inside: avoid;
}

/* ================= TABLE DESIGN  ================= */

.table-container {
  margin: 20px 28px;
  border-radius: 8px;
  overflow-x: auto;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(28, 92, 212, 0.08);
}

/* ================= INTERNAL TABLE SCROLL ================= */

.table-scroll-wrapper {
  max-height: calc(100vh - 360px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

.table-scroll-wrapper::-webkit-scrollbar {
  width: 8px;
}

.table-scroll-wrapper::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

.table-scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.project-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 16px;
}

.project-table thead {
  background: #0F172A;
  color: #ffffff;
}


.project-table thead th {
  position: sticky;
  top: 0;
  z-index: 100;

  background: #0F172A;
  color: #ffffff;

  padding: 14px 12px;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;

  border-bottom: 2px solid #d1d5db;
}

.project-table td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  color: #1f2937;
}

.project-table tbody tr:nth-child(even) {
  background-color: #F8FAFC;
}

.project-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.file-name {
  font-weight: normal;
  color: #10B981;
}

/* ================= ICON BUTTONS ================= */
.icon-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;   
  padding: 4px;      
  transition: transform 0.2s ease;
}

.icon-btn.view {
  color: #595e6b;
}

.icon-btn.download {
  color: #595e6b;
}

.icon-btn.share {
  color: #595e6b;
}

.icon-btn:hover {
  transform: scale(1.15);
}

.download-btn {
  background-color: #10B981;
  color: #ffffff;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s ease;
}

.download-btn:hover {
  background-color: #059669;
}

/* ===== TABLE HEADER ===== */
.project-table thead th {
  text-align: center;
  vertical-align: middle;
}

/* ===== CENTER THESE COLUMNS DATA ===== */
.project-table td:nth-child(1),
.project-table td:nth-child(6),
.project-table td:nth-child(7),
.project-table td:nth-child(8),
.project-table td:nth-child(9) {
  text-align: center;
}

/* ===== KEEP TEXT COLUMNS center ===== */
.project-table td:nth-child(2),
.project-table td:nth-child(3),
.project-table td:nth-child(4),
.project-table td:nth-child(5) {
  text-align: center;
}

.created-date {
  text-align: center;
  line-height: 1.3;
}

.created-date .date {
  font-weight: normal;
  font-size: 14px;
  color: #1f2937;
}

.created-date .time {
  font-size: 14px;
  color: #d81313;
}

/* ===== POPUP OVERLAY ===== */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
   z-index: 5000; 
}

/* ===== POPUP BOX ===== */
.share-popup {
  background: #ffffff;
  width: 420px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.share-popup h2 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

/* ===== FORM ===== */
.form-group {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group {
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
}

/* ===== BUTTONS ===== */
.popup-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.btn-cancel {
  background: #9ca3af;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-send {
  background: #10B981;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-send:hover {
  background: #059669;
}



/* ================= PAGINATION ================= */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;

  padding: 14px 28px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #111827;
}

/* LEFT SIDE */
.pagination-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination-left span {
  font-weight: 600;
  color: #111827;
}

.pagination-left {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pagination-left select {
  height: 36px;
  min-width: 60px;
  padding: 0 30px 0 10px;

  border-radius: 8px;
  border: 2px solid #1f2937;

  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  color: #111827;

  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pagination-left::after {
  content: "▼";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 11px;
  color: #111827;
  pointer-events: none;
}

/* CENTER TEXT */
.pagination-center {
  font-weight: 600;
  font-size: 15px;
  color: #0f172a;
}

/* RIGHT BUTTONS */
.pagination-right {
  display: flex;
  gap: 8px;
}

.pagination-right button {
  border: none;
  background: #f3f4f6;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.pagination-right button:hover:not(:disabled) {
  background: #0F172A;
  color: #ffffff;
}

.pagination-right button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


/* ===== shift your page content right ===== */

.topbar,
.search-container-right,
.table-container,
.pagination-container {
  /* margin-left: 64px; */
  transition: margin-left 0.25s ease;
}

.mini-sidebar.expanded~.topbar,
.mini-sidebar.expanded~.search-container-right,
.mini-sidebar.expanded~.table-container,
.mini-sidebar.expanded~.pagination-container {
  margin-left: 200px;
}


/* ================= PAGE CONTENT SHIFT ================= */

.search-container-right,
.table-container,
.pagination-container {
  margin-left: 0px;
}

.side-under-logo.expanded~.search-container-right,
.side-under-logo.expanded~.table-container,
.side-under-logo.expanded~.pagination-container {
  margin-left: 240px;
}


/* ================= CONTENT OFFSET ================= */
/* keep your header fixed — move only content */
.search-container-right,
.table-container,
.pagination-container {
  margin-left: 0;
}

/* Move content down below header */
.search-container-right,
.table-container {
  margin-top: 25px;
}

/* users popup size */
.share-popup.large {
  min-height: 400px;
  /* increase as needed */
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);
}

/* popup header */
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* checkbox */
.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  margin-top: 8px;
  padding-left: 2px;
}

.checkbox-group label {
  margin: 0;
  font-weight: 600;
  cursor: pointer;
}

/* ensure sidebar items are clickable */
.side-under-logo {
  z-index: 3000;
  pointer-events: auto;
}


.side-item {
  pointer-events: auto;
  cursor: pointer;
}


.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input {
  width: 100%;
  padding-right: 40px;
  /* space for icon */
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  opacity: 0.7;
}

.eye-icon:hover {
  opacity: 1;
}

/* slash line */
.eye-icon.slash::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 0;
  transform: rotate(-45deg);
}

.input-icon:hover {
  opacity: 1;
}


.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 16px;
  position: relative;
}


.close-icon {
  position: absolute;
  top: 4px;
  right: 0px;

  width: 36px;
  height: 36px;

  border-radius: 50%;
  border: none;

  background: #f1f3f6;
  color: #333;

  font-size: 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}


.close-icon:hover {
  background: #ff4d4f;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* ===== FIX HEADER & BODY COLUMN ALIGNMENT ===== */

.header-table,
.body-table {
  table-layout: fixed;
  width: 100%;
}

/* SL No */
.project-table th:nth-child(1),
.project-table td:nth-child(1) {
  width: 70px;
}

/* PO Number */
.project-table th:nth-child(2),
.project-table td:nth-child(2) {
  width: 160px;
}

/* BOL Number */
.project-table th:nth-child(3),
.project-table td:nth-child(3) {
  width: 160px;
}

/* File Name */
.project-table th:nth-child(4),
.project-table td:nth-child(4) {
  width: 320px;
}

/* Created Date */
.project-table th:nth-child(5),
.project-table td:nth-child(5) {
  width: 180px;
}

/* File Count */
.project-table th:nth-child(6),
.project-table td:nth-child(6) {
  width: 120px;
}

/* View */
.project-table th:nth-child(7),
.project-table td:nth-child(7) {
  width: 100px;
}

/* Download */
.project-table th:nth-child(8),
.project-table td:nth-child(8) {
  width: 140px;
}

/* Share */
.project-table th:nth-child(9),
.project-table td:nth-child(9) {
  width: 100px;
}

.search-container {
  margin-top: -15px;
  /* move upward */
}

.page-heading {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.page-heading h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.page-header {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 8px;
  /* ↓ reduce from 20px to 8px */
}

.page-header h2 {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  /* dark professional color */
  margin: 0;
}

/* ===== TOAST MESSAGE ===== */
.toast-message {
  position: fixed;
  top: 20px;
  right: 20px;

  background: #16a34a;
  color: white;

  padding: 12px 20px;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  animation: fadeIn 0.3s ease;
  z-index: 2000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.required {
  color: red;
  margin-left: 3px;
  font-weight: bold;
} 